@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
.header_top{
  margin-bottom: 100px;
}
.header{
  background:  linear-gradient(to right, #319795 30%, transparent 70% ), url(./assets/back.jpg);
  width: 87vw;
  height: 500px;
  margin: 0px 100px;
  object-fit: cover;
  border-radius: 20px;
  background-size: 100%, 100%;
}

/************ featured */

.featured{
  width: 100%;
  display: flex;
  margin-left: 0px;
  padding: 0px 150px 20px 150px;
  /* position: absolute; */
  justify-content: space-between;
  gap: 20px;
  z-index: 1;

}

.featuredItem{
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex:1
}

.featuredImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featuredTitles{
  position: absolute;
  bottom: -2px;
  display: none;
  left: 0px;
  color: #fff;
 width: 100%;
 height: 30%;
 
  background-color:#319795;
  transition: 1s ease all;
}
.featuredItem:hover .featuredTitles{
  display: block;
}
.featuredTitles .titles {
  padding-left: 20px;
}

/*? hotels_list */

.hotels_list{

  background:  linear-gradient(to right, #319795 30%, transparent 70% ), url(./assets/banner3.jpg);
  width: 87vw;
  height: 300px;
  margin: 0px 100px;
  object-fit: cover;
  border-radius: 20px;
  background-size: 100%, 100%;
}

/* hotel list? */

.lsItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem>label{
  font-size: 12px;
  color:#fff;
}

.lsItem>input{
  height: 30px;
  border: none;
  padding: 5px;
}
.lsItem>span{
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions{
  padding: 10px;
}

.lsOptionItem{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.lsOptionInput{
  width: 50px;
}

.listSearch>button{
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 80%;
  font-weight: 500;
  cursor: pointer;
}

.listResult {
  flex: 3;
}

textarea:focus, input:focus{
  outline: none;
}

/* hotel details */



.slider{
  position: sticky;
  top: 0;
  left: 0;
  width: 40vw;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.613);
  z-index: 999;
  display: flex;
  align-items: center;
}

.sliderWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImg{
  width: 80%;
  height: 100%;
}

.close{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: lightgray;
  cursor: pointer;
}

.arrow{
  margin: 20px;
  font-size: 50px;
  color: lightgray;
  cursor: pointer;
}